[submodule "xmarts/SLI"]
	path = xmarts/SLI
	url = git@github.com:xmarts/SLI.git
	branch = 14.0-fletex-old

[submodule "xmarts/l10n-einvoice-mx"]
	path = xmarts/l10n-einvoice-mx
	url = git@github.com:xmarts/l10n-einvoice-mx.git
	branch = 14.0
